

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

}

body {
  color: var(--foreground);
  background: linear-gradient(rgb(148, 238, 148),rgb(187, 187, 226), rgb(143, 209, 143));
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and(max-width:648px){
  #img-main{
    display: block
  }
  header ul{
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 2px;
   }
   header ul{
    display: flex;
    flex-direction: column;
    padding: 2px;  text-align: end;
   }

}

.footer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  justify-items:center;
  background: rgb(168, 167, 224);
  color: rgb(3, 3, 3);
  padding: 5%;
  min-height: 2%;
  font-size: medium;
  column-count: 3;
  column-gap: 15px;  
}
#footer-icon:hover {
  color: rgb(65, 63, 63);
 }
.more{
  padding: 2%;
  margin: 2%; 
}
.home{
  justify-content: right;
  padding: 2%;  margin-top: 10%; 
  background-image: url(https://t3.ftcdn.net/jpg/05/19/88/62/240_F_519886243_H8PYwgZAHefER2t0CWcpbeEBhsVgX849.jpg); 
  opacity: 50px;
 background-repeat:no-repeat;
 background-size: cover;
}

.home-div{
  display: flex;
  width: 70%;
  font-size: 12px;
  font-weight:400;
  color: #000;
}
.h1-home{
  font-size: 30px;
  font-weight: 800;
  color:#00010a;
  padding: 2px;
  margin: 5px;
  }
.card-body{
  display:flex;
  flex-direction:column;
  justify-items: center;
}
.card{
  display: flex; flex-direction:column; justify-content: center; text-align: center;
  font-size: 18px; hyphens: none; white-space: none;
    padding: 5%;
    color:rgb(3, 2, 2);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgb(2, 36, 5);
margin-bottom: 5%; margin-top: 13%;
margin-left: 30%;
margin-right: 30%;
    width: 40%; height:40%;
    position: center; 
    text-indent: 15%; 
    text-align: justify; 
    animation-name: circle; animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes circle{
 0%{border-radius: 0%; }
 100%{ border-radius: 50%; background-color: rgb(170, 228, 170);}
}

.card1{
  font-size: 18px;
    color:rgb(3, 2, 2);
    box-shadow: 0 15px 15px rgb(2, 36, 5);
    margin: 5% ; margin-top: 13%;
    padding: 5%;
    width: 90%; 
     box-sizing: border-box; 
    text-indent: 15%; 
    text-align: justify; 
}
#card2{
  font-size: 18px;
    padding: 5%;
    color:rgb(3, 2, 2);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgb(2, 36, 5);
    margin-bottom: 5%; margin-top: 13%;
    margin-left: 20%;
    margin-right: auto;
    width: 60%; height:40%;
    position: center; 
    text-indent: 15%; 
    text-align: justify; 
}
 
#img-main{
  display: flex;
  flex-direction: row;
  width: 95%; height: 60%;
  padding: 2%;
  margin: 2%;
  font-size: 20px;
  box-sizing: border-box;
  box-shadow: 0 15px 15px rgb(2, 36, 5);
  white-space: none; hyphens: auto; 
  background: transparent;
}
.txt-img{
width:50%;
height: auto;
text-align: center;
justify-items: center;
margin-left: 2%;
}
.txt-img-left{
  width:  50%;
  height: auto;
  text-align: center;
  justify-items: center;
  margin-left: 2%;
  }
.img{
width: 50%;
height: 50%;
}
    #header{
    width: 100%;  
    height: 30px;  
    position:fixed; 
    padding: 4%;  color:white; 
    background: linear-gradient( rgb(42, 199, 42), rgb(124, 124, 236)); 
  }
  header li:hover{
    background: white;
    width: 50px; color: green;
    font-size: 16px;
    border-radius: 13px;
    transition: 0.5s all;
  } 
    
.top{
  font-size: 40px;
  font-weight: 800;
  margin : 2%;
  text-align: center;
  justify-items: center;
  color: rgb(34, 33, 33);
  font-style: italic;
  text-shadow: 2px 2px 10px rgb(134, 134, 245),
  2px 2px 20px rgb(134, 134, 245),
  2px 2px 40px rgb(134, 134, 245),
  2px 2px 60px rgb(134, 134, 245),
                3px 3px rgb(5, 112, 5);
}
h2{
  font-size: 30px;
  text-align: center;
  justify-items: center;
   box-shadow: 0 5px 15px rgb(124, 111, 113) ;
   background: rgb(23, 109, 15);
   min-height: 5%;
   min-width: 5%;
   border-radius: 5px;
   color: white;  padding:1%;
}
h1{
  font-size: 30px;
  color: black;
  padding: 5px;
  margin: 5px; 
}

.ul{
  color: blue; font-style: italic;
  padding: 5px;
}
.ul li::first-letter{
  font-style: oblique;
} 
p{
 margin-top: 4%;
  font-size: 18px;
  text-indent: 15%;
  text-align: justify;
}

#button{
  font-size: 20px;
  margin: 2%;
  width: 40%;
  border-radius: 10px;
  min-height: 5%;
  color: white;
  background: rgb(7, 6, 78);
  box-shadow: 0 0 15px rgb(22, 10, 12);
  transform: translate(0,0);
  transition:  trasnsform 1s;
  transform-origin:left;
}
#button:hover{
  background: rgb(26, 26, 129);
  transform: translate(10px, 10px);
  transition: 0.5s ease-in-out;
}
 .btn{
  font-size: 20px;
  margin: 2%;
  width: 40%;
  border-radius: 10px;
  min-height: 5%;
  color: white;
  background: rgb(4, 4, 70);
  box-shadow: 0 0 15px rgb(22, 10, 12);
  margin-top: 25px;
  transform: translate(0,0);
  transition:  trasnsform 1s;
  transform-origin: right left;
} 
.btn:hover{
  background-color: rgb(18, 78, 102);
} 
#form-body{
    padding: 1%;
    color:rgb(3, 2, 2);
    background: linear-gradient(rgb(176, 176, 212), rgb(141, 224, 141));
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(22, 10, 12);
    width: 60%; margin-top: 15%;
    margin-right: 20%;
    margin-left: auto;  
}
#inputs{
    font-size: 18px;
    padding:2%;
    margin: 20px 0 10px;
    color:rgb(3, 2, 2);
   background: linear-gradient(rgb(185, 185, 207), rgb(159, 224, 159)); 
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(22, 10, 12);
    margin: 2%;
    width: 100%;
    height: auto;
    position: center;
}
input{ color: black; 
  width: 60%; height: 4%; border: 2px solid white; border-radius: 5px;
  background: linear-gradient(rgb(185, 185, 207), rgb(159, 224, 159)); ;
}
textarea{ color: black;
  width: 90%; height: 5%; border: 2px solid white; border-radius: 5px;
  background: linear-gradient(rgb(185, 185, 207), rgb(159, 224, 159)); ;
}
#story-body{
  padding: 7%;
  color: rgb(20, 18, 18);
  
  width: 100%;
  margin-left: 25%;
  margin-right: auto;
  height: auto;
}
 span{
  font-size: 50px;
} 



